h1 {
  /* color: white; */
  /* background-color: blue; */
}
h2 {
  /* background-color: red; */
}

html, body {
  height: 100%;
}

.container-fluid {
  height: 100%;
  overflow-y: hidden; /* don't show content that exceeds my height */
}

#preview-button {
  margin: 10px;
  padding: 20px;
}

#widget-form {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid darkgray;
}

#wbdv-module-list {
  border-right: 1px solid darkgray;
  background-color: rgb(71, 71, 71);
}

.wbdv-bold {
  font-weight: bolder;
}
.wbdv-module {
  background-color: lightgray;
}
.wbdv-module.wbdv-selected {
  background-color: darkgray;
}

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:red;
	color:#FFF;
	border-radius:50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}